html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

.prim {
   margin: 0 36px 36px 36px;
}

main {
   box-sizing: border-box;
   background-color: #242528;
   border-radius: 17px;
   height: 100vh;
   width: 100vw;
}

button {
   background-color: transparent;
   color: white;
   border: none;
   display: inline-block;
}

.titlebar {
   box-sizing: border-box;
   display: flex;
   align-items: center;
   width: 100%;
   padding: 8px 11px 0;
}

.titlebar-button {
   margin-right: 14px;
}

.header {
   display: flex;
   align-items: center;
   justify-content: end;
   margin-right: 36px;
   width: 100%;
}

.header-button {
   margin-right: 26px;
}

.main {
   display: flex;
   align-items: center;
   flex-direction: column;
}

time,
h1,
p {
   color: white;
   text-align: center;
}

time,
h1 {
   text-align: center;
   font-family: "Inter", Helvetica, serif;
   font-size: 96px;
   font-weight: 400;
   position: relative;
   left: -3px;
}

p {
   font-family: "Helvetica-Regular", Helvetica, serif;
   font-size: 42px;
   font-weight: 400;
}

.mode {
    font-family: "Helvetica-Regular", Helvetica, serif;
    font-size: 20px;
    font-weight: 300;
}

.end {
   margin-right: 0;
}

label {
   display: block;
}
