* {
  margin: 0;
  padding: 0;
}

.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .mask-group-wrapper {
  border: 0px none;
  height: 370px;
  width: 620px;
}

.box .mask-group {
  height: 370px;
  width: 620px;
}

.box .flow {
  background-color: #242528;
  border-radius: 17px;
  height: 370px;
  /* overflow: hidden;
  position: relative; */
}

.box .dop {
  display: flex;
  align-items: center;
  height: 32px;
  left: 449px;
  position: absolute;
  top: 31px;
  width: 138px;
}

.box .unit-dop{
  margin-right: 10px;
  margin-left: 10px;
}

.box .main {
  height: 237px;
  left: 179px;
  position: absolute;
  top: 82px;
  width: 264px;
}

.box .overlap-group {
  height: 119px;
  left: 0;
  position: absolute;
  top: 50px;
  width: 260px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 96px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 0;
  width: auto;
  margin: 0;
}

.box .load {
  height: 8px;
  left: 118px;
  position: absolute;
  top: 111px;
  width: 41px;
}

.box .div {
  color: #ffffff;
  font-family: "Helvetica-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.box .pause {
  height: 47px;
  left: 121px;
  position: absolute;
  top: 190px;
  width: 34px;
}

.box .titlebar {
  user-select: none;
  position: fixed;
  display: flex;
  align-items: center;
  height: 24px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 98%;
}

.box .titlebar-button{
  margin-right: 10px;
}

.kons-button{
  fill: white;
}


